* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open-Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: black;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: ivory;
  }
  
  header {
    padding: 12% 0;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }

  .navbar {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 0 10px 0;
  }

  #name {
      margin-right: 150px;
  }

  #bio, #contact, #contact-links {
      text-align: left;
      padding: 30px;
  }

  .header {
      padding-top: 40px;
  }

  img {
      width: 100%;
      height: auto;
      max-width: 750px;
  }